* {
    /*Removes blue focus color*/
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(0,0,0,0.2);
}
    /*Removes colored cells from user list*/
.list-view .list-cell:odd {
    -fx-background-color: white;
    -fx-text-fill: black;
}
    /*Colors clicked cell*/
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
    /*Prevents last clicked cell to stay colored when changing box*/
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: -fx-selection-bar-text;
}
