* {
    /*Removes blue focus color*/
    -fx-faint-focus-color: transparent;
    -fx-focus-color:transparent;
    -fx-text-box-border: transparent;
}

#background {
    -fx-background-color:#2F3136;
}

#channels {
    -fx-text-fill: #F9F6F9;
    -fx-prompt-text-fill: #F9F6F9;
    -fx-control-inner-background:#36393F;
    -fx-background-color:transparent;
}

#userBox {
    -fx-text-fill: #F9F6F9;
    -fx-prompt-text-fill: #F9F6F9;
    -fx-control-inner-background:#36393F;
    -fx-background-color:transparent;
}

#inputbox {
    -fx-text-fill: #F9F6F9;
    -fx-prompt-text-fill: #F9F6F9;
    -fx-control-inner-background:#484C52;
}

.text-input .content {
    -fx-background-radius: 0 ;
}

#outputbox {
    -fx-text-fill: #F9F6F9;
    -fx-control-inner-background:#36393F;
}

#bar {
    -fx-background-color:#202225;
    -fx-faint-focus-color: transparent;
    -fx-focus-color:transparent;
}

#loginpane {
    -fx-background-color:#2F3136;
    -fx-faint-focus-color: transparent;
    -fx-focus-color:transparent;
}

#userNameBox {
    -fx-text-fill: #F9F6F9;
    -fx-prompt-text-fill: #F9F6F9;
    -fx-control-inner-background:#484C52;
}

#passwordBox {
    -fx-text-fill: #F9F6F9;
    -fx-prompt-text-fill: #F9F6F9;
    -fx-control-inner-background:#484C52;
}

#warningbox {
    -fx-text-fill: #D32D27;
    -fx-control-inner-background:#2F3136;
    -fx-background-color: none;
}

.button {
    -fx-background-color: #3D4956;
    -fx-background-insets: 2;
    -fx-text-fill:#c9c9c9
}

.button:hover {
    -fx-background-color: #4D5966;
}

#minimize {
    -fx-background-color: #202225;
}

#minimize:hover {
    -fx-background-color: #4D5966;
}

#close {
    -fx-background-color: #202225;
}

#close:hover {
    -fx-background-color: red;
}

#maximize {
    -fx-background-color: #202225;
}

/*Removes colored cells from user list*/
.list-view .list-cell {
    -fx-background-color: #2F3136;
    -fx-text-fill: #F9F6F9;
}
/*Colors clicked cell*/
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: none;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-weight: bold;
}
/*Makes last clicked cell to stay bold when changing focus.*/
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-weight: bold;
}


.scroll-pane {
    -fx-background-color: #36393F;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    /*-fx-background-radius: 0em;*/
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #7E8084;
    -fx-border-radius: 0em;
}

.scroll-pane > .corner {
    -fx-background-color: #36393F;
}

